html, body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#chat {
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  width: 600px;
  border: 1px solid #ddd;
  height: 50px;
  padding: 0 20px;
  font-size: 14px;
}

button {
  width: 600px;
  height: 50px;
  font-size: 14px;
  background: #069;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  color: #FFF;
  margin-top: 10px;
}

.messages {
  width: 600px;
  margin: 20px 0;
  border: 1px solid #ddd;
  padding: 20px;
}

.message {

  width: 400px;
  padding: 5px;
  font-size: 16px;
}

.message p {
  display: inline-block;
}

.error {
  display: none;
}

@media screen and (max-width: 800px){
  #chat {
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  input {
    width: 350px;
    border: 1px solid #ddd;
    height: 50px;
    padding: 0 20px;
    font-size: 14px;
  }

  button {
    width: 350px;
    height: 50px;
    font-size: 14px;
    background: #069;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    color: #FFF;
    margin-top: 10px;
  }

  .messages {
    width: 350px;
    margin: 20px 0;
    border: 1px solid #ddd;
    padding: 20px;
  }

  .error {
    display: none;
  }
}

@media screen and (max-width: 280px){
  #chat {
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  input {
    width: 250px;
    border: 1px solid #ddd;
    height: 50px;
    padding: 0 20px;
    font-size: 14px;
  }

  button {
    width: 250px;
    height: 50px;
    font-size: 14px;
    background: #069;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    color: #FFF;
    margin-top: 10px;
  }

  .messages {
    width: 250px;
    margin: 20px 0;
    border: 1px solid #ddd;
    padding: 20px;
  }

  .error {
    display: none;
  }
}
